<div class="container pt-5 mt-3 text-center">
  <h1>Hello, {{loginUser.firstName}}!</h1>
  <form action="/user/logout" method="POST">
    <button type="submit" class="btn btn-warning btn-lg font-weight-bold">Log out</button>
  </form>
</div>